<div style="width: 100%;" fxFlex fxLayoutAlign="center">
    <mat-card style="margin: 50px;">
        <mat-card-content>
            <div fxLayout="row">
                <div fxLayout="column">
                    <div *ngIf="kit?.listaImagem[0]?.caminho" (click)="alteraImagem(kit.listaImagem[0].caminho)" 
                    fxLayoutAlign="start">
                        <img class="imagem-item-mini" style="border: 1px solid #000000;" mat-card-image [src]="kit?.listaImagem[0]?.caminho">
                    </div>
                    <div *ngIf="kit?.listaImagem[1]?.caminho" (click)="alteraImagem(kit.listaImagem[1].caminho)" 
                    fxLayoutAlign="start">
                        <img class="imagem-item-mini" style="border: 1px solid #000000;" mat-card-image [src]="kit?.listaImagem[1]?.caminho">
                    </div>
                    <div *ngIf="kit?.listaImagem[2]?.caminho" (click)="alteraImagem(kit.listaImagem[2].caminho)" 
                    fxLayoutAlign="start">
                        <img class="imagem-item-mini" style="border: 1px solid #000000;" mat-card-image [src]="kit?.listaImagem[2]?.caminho">
                    </div>
                    <div *ngIf="kit?.listaImagem[3]?.caminho" (click)="alteraImagem(kit.listaImagem[3].caminho)" 
                    fxLayoutAlign="start">
                        <img class="imagem-item-mini" style="border: 1px solid #000000;" mat-card-image [src]="kit?.listaImagem[3]?.caminho">
                    </div>
                </div>
                <div *ngIf="caminhoImagemFull" fxLayoutAlign="start">
                    <img  class="imagem-item" style="margin-left: 25px;" mat-card-image [src]="caminhoImagemFull">
                </div>
                <div fxFlex="10">

                </div>
                <mat-divider [vertical]="true"></mat-divider>
                
                <div fxFlex="10">

                </div>
                <div fxLayout="column" class="informacoes-produto">
                    <h1 style="font-size: 26px;">{{kit?.titulo}}</h1>
                    <span fxLayoutAlign="center" style="font-size: 18px; margin-top: 30px; color: green;">R$ {{kit?.preco}},00</span>
                    <span *ngIf="kit?.quantidadeEstoque != null && kit?.quantidadeEstoque > 0" fxLayoutAlign="center" style="font-size: 21px; margin-top: 30px;">
                        {{kit.quantidadeEstoque}} Disponiveis em estoque
                    </span>
                    <span *ngIf="kit?.quantidadeEstoque != null && kit?.quantidadeEstoque === 0" fxLayoutAlign="center" style="font-size: 21px; margin-top: 30px;">
                        Produto indísponivel
                    </span>
                    <div style="margin-top: 30px;" fxLayoutAlign="center">
                        <button [disabled]="kit?.quantidadeEstoque === 0" (click)="comprar()" mat-raised-button>
                            COMPRAR
                        </button>
                        <button [disabled]="kit?.quantidadeEstoque === 0" mat-raised-button (click)="colocarNoCarrinho()">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxFlex="10">

                </div>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="kit != null && kit.listaItem != null">
                <h4>Configurações</h4>
                <ul *ngFor="let item of kit.listaItem">
                    <li>{{ item.nome }}</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</div>