img:hover {
    cursor: pointer;
}

.imagem-item-mini {
    margin: 8px !important;
    width: 55px;
    height: 55px;
}

.imagem-item {
    margin: 5px !important;
    width: 600px;
    height: 420px;
}

mat-divider {
    margin-top: -16px;
    margin-bottom: -16px;
}

mat-divider.mat-divider-vertical {
    border-top: 71px;
    border-right-width: 2px;
    border-right-style: solid;
}

.informacoes-produto {
    margin: 12px;
}

.informacoes-produto button {
    color:rgb(0, 0, 0);
    background-color: green;
    margin: 12px 0 12px 7px;
    box-shadow: 0.5px 0px 0.5em black;
}

.informacoes-produto button:hover {
    transform: scale(1.1);
}