<div>
    <mat-card style="margin: 50px;">
        <mat-card-content>
            <div fxLayout="row">
                <div fxLayout="column">
                    <div fxLayoutAlign="start" class="imagem-item">
                        <img style="border: 1px solid #000000;" mat-card-image src="../../../assets/imagens/pc-1.png">
                    </div>
                    <div fxLayoutAlign="start" class="imagem-item">
                        <img style="border: 1px solid #000000;" mat-card-image src="../../../assets/imagens/pc-2.jpg">
                    </div>
                    <div fxLayoutAlign="start" class="imagem-item">
                        <img style="border: 1px solid #000000;" mat-card-image src="../../../assets/imagens/pc-3.jpg">
                    </div>
                    <div fxLayoutAlign="start" class="imagem-item">
                        <img style="border: 1px solid #000000;" mat-card-image src="../../../assets/imagens/pc-4.png">
                    </div>
                </div>
                <div fxLayoutAlign="start" class="imagem-item2">
                    <img style="margin-left: 25px;" mat-card-image src="../../../assets/imagens/pc-4.png">
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div fxLayout="column" class="informacoes-produto">
                    <h1 style="font-size: 26px;">Computador gamer | Core I7 7700 | 16gb DDR4 | SSD 360gb</h1>
                    <span fxLayoutAlign="center" style="font-size: 18px; margin-top: 30px; color: green;">R$ 6.000,00</span>
                    <span fxLayoutAlign="center" style="font-size: 21px; margin-top: 30px;">Produto disponivel</span>
                    <div style="margin-top: 30px;" fxLayoutAlign="center">
                        <button mat-raised-button>
                            COMPRAR
                        </button>
                        <button mat-raised-button>
                            COLOCAR NO CARRINHO
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>