<footer>
    <div fxLayout="row" class="rodape" fxLayoutAlign="space-between">
        <div fxLayoutAlign="start center">
            <img style="width: 90px;" src="../../../assets/imagens/logo.png">
        </div>
        <div class="copyright" fxLayoutAlign="center end">
            <span>&copy; Copyright 2020 - Aisoftware - Todos os Direitos Reservados</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center end">
            <a style="margin: 10px" href="'https://www.google.com/">
                <img style="width: 30px;" src="../../../assets/imagens/facebook.jpg">
            </a>
            <a style="margin: 10px" href="'https://www.google.com/">
                <img style="width: 30px;" src="../../../assets/imagens/icone-instagram.png">
            </a>
        </div>
    </div>
</footer>