<div fxLayout="row" class="rodape" fxLayoutAlign="space-between end">
    <div>
        <img style="width: 90px; margin-left: 10px;" src="../../../assets/imagens/aisoftware.png">
    </div>
    <div class="copyright" style="margin-bottom: 12px;">
        <span>&copy; Copyright 2020 - Aisoftware - Todos os Direitos Reservados</span>
    </div>
    <div fxLayout="row">
        <a style="margin: 10px" href="'https://www.google.com/">
            <img style="width: 30px;" src="../../../assets/imagens/facebook.jpg">
        </a>
        <a style="margin: 10px" href="'https://www.google.com/">
            <img style="width: 30px;" src="../../../assets/imagens/icone-instagram.png">
        </a>
    </div>
</div>