<div fxLayout="column" style="height: 100%;">
    <div>
        <mat-toolbar class="menu-principal" fxLayout="row">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">
                <app-menu-usuario></app-menu-usuario>
                <div fxLayoutAlign="center center">
                    <app-menu-principal></app-menu-principal>
                </div>
                <div>
                    <mat-form-field style="margin: 12px 40px 12px 70px; width: 300px;">
                        <input type="text" matInput placeholder="Pesquisar" id="pesquisar">
                        <mat-icon>search</mat-icon>
                    </mat-form-field>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- <div id="myDIV">
            This is my DIV element.
        </div> -->
    </div>
    <div fxFill fxFlex="grow" fxLayout="column" fxLayoutAlign="space-between" style="min-height: 80% !important;">

        <div fxLayout="column">
            <div fxLayoutAlign="center start">
                <div class="painel-navegacao" fxLayout="column">
                    <router-outlet>
                    </router-outlet>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px; height: 10%; width: 100%;" >
            <app-footer fxLayoutAlign="end end" style="height: 100%;"></app-footer>
        </div>
    </div>
</div>

<mat-menu #menu="matMenu" class="mb-1">
    <button mat-menu-item>
        <mat-icon>local_grocery_store</mat-icon>
        <span>Meus Pedidos</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Minhas preferências</span>
    </button>
    <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar perfil</span>
    </button>
    <button mat-menu-item (click)="deslogar()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>




<!-- <mat-menu backdropClass="custom__menu" #acessorios="matMenu" >
    <button mat-menu-item>
        <mat-icon>local_grocery_store</mat-icon>
        <span>Meus Pedidos</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Minhas preferências</span>
    </button>
    <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar perfil</span>
    </button>
    <button mat-menu-item (click)="deslogar()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu> -->