.menu-principal {
    background-color: indigo;
}

.menu-principal button {
    color: darkturquoise;
    background-color: dimgray;
    margin: 12px 0 12px 7px;
    box-shadow: 1px 0px 1em black;
}

.menu-principal button:hover {
    transform: scale(1.1);
}

#matPesquisar {
    margin: 12px 0 12px 7px;
    width: 300px;
    display: inherit;
}

.painel-navegacao {
    width: 100%;
    min-height: 100%;
    background-color: rgba(126, 123, 123, 0.884);
}
