.container-imagem {
    width: 570px;
    height: 270px;
    box-shadow: 0px 5px 15px 5px rgb(41, 38, 38);
    border-radius: 10px;
  }

  .imagem-promocao {
    max-width:100%;
    max-height:100%;
    width: 570px;
    height: 270px;
    border-radius: 10px;
    transition: 800ms;
    opacity: 0.7;
  }

  .imagem-promocao:hover {
    opacity: 1;
    cursor: pointer;
  }

  /* li { cursor: pointer; } */
  
  a {
    text-emphasis: none;
    text-decoration: none;
}
  a:hover {
    text-decoration: grey;
    text-decoration: underline;
    cursor: pointer;
}

  .preco {
      font-size: 18px;
      color: green;
  }

  .descricao-item {
      font-size: 14px;
      color: black;
      font-weight: bold;
  }