<div class="painel-lista-produtos" fxLayoutAlign="space-around"> 
  <div class="menu-lateral" fxLayout="column">
    <span class="titulo-filtro">Processador</span>
    <mat-checkbox>Core I3</mat-checkbox>
    <mat-checkbox>Core I5</mat-checkbox>
    <mat-checkbox>Core I7</mat-checkbox>
    <mat-checkbox>Core I9</mat-checkbox>
    <BR>
    <span class="titulo-filtro">Marca</span>
    <mat-checkbox>Dell</mat-checkbox>
    <mat-checkbox>HP</mat-checkbox>
    <mat-checkbox>Lenovo</mat-checkbox>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-card class="card-item"  *ngFor="let item of arr" style="max-width: 200px; margin: 15px;">
      <div fxLayoutAlign="center" class="imagem-item">
        <img mat-card-image src="../../assets/imagens/pc-1.png">
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <a href="www.google.com">
          <p fxLayoutAlign="center start" class="preco">
            R$ 2.500,00
          </p>
          <p class="descricao-item">
            Monitor 20 polegadas core I5 SSD 240 gb
          </p>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>