<div > 
  <div class="menu-lateral" fxFill fxLayout="column">
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxLayout="row wrap" fxFill fxLayoutAlign="center center">
    <mat-card class="card-item" (click)="seila()" *ngFor="let item of arr" style="max-width: 200px; margin: 15px;">
      <div fxLayoutAlign="center" class="imagem-item">
        <img mat-card-image src="../../assets/imagens/pc-1.png">
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <a href="www.google.com">
          <p fxLayoutAlign="center start" class="preco">
            R$ 2.500,00
          </p>
          <p class="descricao-item">
            Monitor 20 polegadas core I5 SSD 240 gb
          </p>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>