<!-- <div class="menu-principal" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button>
        HOME
    </button>
    <button mat-raised-button>
        NOTEBOOK
    </button>
    <button mat-raised-button>
        DESKTOP
    </button>
    <button mat-raised-button>
        UPGRADE
    </button>
    <button mat-raised-button>
        HELP
    </button>
    <mat-form-field>
        <mat-label>Pesquisar</mat-label>
        <input name="data" type="text" matInput>
        <mat-icon >search</mat-icon>
    </mat-form-field>
</div>
<div class="pesquisa" fxLayout="row" fxLayoutAlign="center center">
</div>
<mat-card>
    <mat-card-content>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Legacy form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
    </mat-card-content>
</mat-card> -->