.button-concluir-pedido {
    width: 150px;
    background: orange;
}

.botao-delete{
    color: orange;
}
.botao-diminuir-quantidade {
    font-size: 32px;
    color: red;
    border: none;
    background: white;
    cursor: pointer;
}

.botao-aumentar-quantidade {
    font-size: 25px;
    color: green;
    border: none;
    background: white;
    cursor: pointer;
}