<div fxLayout="row" fxLayoutAlign="center start">
  <div class="menu-lateral" fxLayout="column" fxLayoutAlign="start start">
    <app-filtro-produto (filtros)="atualizaFiltros($event)" [listaFiltros]="listaFiltro"></app-filtro-produto>
  </div>
  <div style="margin-top: 15px; width: 1245px;" fxLayout="row wrap">
    <div class="painel-lista-produtos" fxLayout="row wrap" fxLayoutAlign="start start">
      <div *ngFor="let item of lista">
        <app-card-produto [item]="item"></app-card-produto>
      </div>
        <mat-paginator *ngIf="lista?.length >= 8"  style="width: 80%;" [length]="32" [pageSize]="8" [pageSizeOptions]="[8 , 16, 24]">
        </mat-paginator>
    </div>
  </div>
</div>