.menu-principal {
    background-color: indigo;
}
button {
    color: darkturquoise;
    background-color: dimgray;
    margin:  12px 0 12px 7px;
}

button:hover {
    color: mediumblue;
    transform: scale(1.1);
}